.navbar {
  background-color: #333;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
  border-radius: 8px; /* Bordes redondeados */
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: center;
  gap: 5rem; /* Espacio entre los enlaces */

  padding-left: 40%;
  margin: 0;
}

.nav-links li {
  display: inline-block;
}

.nav-links li.carrito {
  margin-left: auto; /* Empuja el carrito al extremo derecho */
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem; /* Tamaño de fuente más grande */
  font-weight: bold;
  transition: color 0.3s ease, transform 0.3s ease; /* Animación suave */
}

.nav-links a:hover {
  color: #ff9800; /* Cambia el color al pasar el cursor */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
}

.carrito-imagen {
  width: 40px; /* Ajusta el tamaño del carrito */
  height: 40px;
  object-fit: contain; /* Asegura que la imagen se ajuste correctamente */
  transition: transform 0.3s ease; /* Animación suave */
}

.carrito-imagen:hover {
  transform: scale(1.2); /* Aumenta ligeramente el tamaño al pasar el cursor */
}