* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 350px;
  margin-bottom: 20px; /* Espacio entre el banner y la barra de navegación */
}

.logorejal {
  width: 600px;
  height: 350px;
  ;
}
